/* Font */
html{
  font-family: 'Montserrat Alternates', sans-serif;
}
/* Breakpoint for big screens */
@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}

.container{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 360px) {
  .box1 {
    width: 100%;
    order:1;
  }
  .box2 {
    order:-1;
  }
}

@media screen and (min-widht: 361px, max-width: 600px) {
  .box1 {
    width: 50%;
    order:-1;
  }
  .box2 {
    order:1;
  }
  main img {
      padding-left: 0;
    }
}
/* Header */
header{
  background-color: #bebebe;
  border: 3px solid #7d97ad;
}
.logo{
  max-width: 20%;
  max-height: 50px;
  float:left;
  margin: 30px 0 0 50px;
}
.name{
text-align: right;
margin-right: 10%;
}
/* Main */
main{
  width: 100%;
  background-color: #efefef;
  padding: 5px 0px 5px 0px;
}
main img{
  box-shadow: 5px 5px 15px #000000;
  padding-left: 5px;
  height:300px;
}


ul.pattern{
  list-style-type: none;
  padding: 0 10px 0 10px;
}
li p{
  height: 60px;
  width: 60px;
}
.color1{
  background-color: #02b3e4;
}
.color2{
  background-color: #2d3c49;
}
.color3{
  background-color: #7d97ad;
}
.box2 {
  height: 400px;
  max-width: 100%;
}
/* Section MyWork */
section.mywork{
  font-family: 'Exo 2', sans-serif;
  margin-top: 20px;
  margin-left: 60px;
  border-top: 2px dashed;
}
.featured li{
  list-style-type: none;
  display: inline-flex;
}
.featured figcaption{
  color: #2d3c49;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
}
.square {
  max-width: 150px;
  max-height: 150px;
}
figcaption p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.25em;
  text-transform: none;
}
/* Footer */
footer{
  padding: 20px 20px 0 20px;
  background-color: #bebebe;
}
